.container {
  padding: 2rem;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.container .header {
  display: flex;
  justify-content: center;
}

.container .timer {
  font-size: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  transition: 150ms ease-in-out font-size;
  user-select: none;
}

.container .timer.pressed {
  font-size: 150px;
}

.container .timer.pressedLongEnough {
  color: greenyellow;
}